/* header css here */
.container-css {
    border-radius: 8px;
    height: 80px;
}
@media screen and (max-width: 574px){
    .container-css {
        border-radius: 0px;
        height: auto;
    }
    nav, div, img {
        padding: 5px 0px 5px 0;
    } 
    .inner-css {
        margin-top: -14px;
    }
}
@media screen and (max-width: 992px){
    .container-css {
        height: auto;
    }
    nav, div, img {
        padding: 5px 0 5px 0;
    }
    .inner-css {
        margin-top: -14px;
    } 
}
@media screen and (min-width: 992px){
    nav, div, a, img {
        padding: 2px 0 2px 0;
        padding-right: 10px;
    } 
}

.custom-div {
    background-color: #009432;
    width: 100%;
    min-height: 40vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.btn-css {
    padding-right: 40px;
    padding-left: 40px;
}

/* Banner Section CSS */
@media screen and (min-width: 992px) and (max-width: 2100px){
    .inner-css {
        margin-left: 40px;
    }

}