@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}
html {
  scroll-behavior: smooth;
}

/* header css here */
.container-css {
    border-radius: 8px;
    height: 80px;
}
header {
  position: sticky;
  top: 0;
  z-index: 2;
  box-shadow: 1px 1px 20px 1px black;
}

.custom-div {
    background-color: #009432;
    width: 100%;
    min-height: 40vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.btn-css {
    padding-right: 40px;
    padding-left: 40px;
}

/* HTML SECTION START */
.about_section {
    background-image: url("../img/htmlbg.jpg");
    background-size: cover;
    background-position: bottom;
    color: #ffffff;
    box-shadow: -1px -1px 3px 1px black, 1px 1px 3px 1px black;
    transition: transform 0.1s;
    transition-delay: 0s;
  }
  .about_section:hover {
    transform: perspective(800px) translateZ(10px);
  }
  .about-css {
    background-image: url("../img/cssbg.jpg");
    background-size: cover;
    background-position: bottom;
    margin-top: 10px;
  }
  .about-javascript {
    background-image: url("../img/jsbg.jpg");
    background-size: cover;
    background-position: bottom;
    margin-top: 10px;
  }
  .about-php {
    background-image: url("../img/phpbg.jpg");
    background-size: cover;
    background-position: bottom;
    margin-top: 10px;
  }
  .about-sql {
    background-image: url("../img/mysqlbg.jpg");
    background-size: cover;
    background-position: right;
    margin-top: 10px;
  }
  
  .about_section .heading_container {
    margin-bottom: 45px;
  }
  
  .about_section .row {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .about_section .img-box img {
    max-width: 100%;
  }
  
  .about_section .detail-box h3 {
    font-weight: bold;
  }
  
  .about_section .detail-box p {
    margin-top: 15px;
  }
  
  .heading_container a {
    display: inline-block;
    padding: 10px 45px;
    background-color: #f24106;
    color: #ffffff;
    border-radius: 0px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border: none;
    margin-top: 15px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 2px;
  }
  
  .about_section .detail-box a:hover {
    background-color: #007fa4;
  }

  .heading_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  
  .heading_container h2 {
    position: relative;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: -60px;
  }
  
  .heading_container h2 span {
    color: #00bbf0;
  }
  
  .heading_container p {
    margin-top: 10px;
    margin-bottom: 0;
  }
  
  .heading_container.heading_center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }

  .layout_padding {
    padding: 90px 0 10px 0;
  }
  /* HTML SECTION  END */


#progress {
  background-color: rgb(0, 0, 0);
  height: 7px;
  width: 0;
}

/* Course Headings Section Start */
.titlepage {
  padding-bottom: 10px;
}

.titlepage h2 {
  font-size: 25px;
  color: #000000;
  line-height: 40px;
  font-weight: bolder;
  padding: 0;
  display: inline-block;
  text-transform: uppercase;
}
.blue_light {
  color: #f4a700;
}
.domain {
  background: #ffffff;
  padding-top: 30px;
}
.searchbar {
  height: 50px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  background-color: #e8e8ed;
  border-radius: 50px;
  padding: 10px 30px;
  display: flex;
}

.search_input {
  color: #010101;
  border: 0;
  outline: 0;
  background: #e8e8ed;
  width: 100%;
  line-height: 40px;
  font-size: 17px;
}
.search_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffaa00;
  font-size: 20px;
  text-decoration: none;
}
.text_align_center {
  text-align: center;
}
/* Course Headings Section End */

/* HTML all tags css here */
.html-tag {
  color: red;
}
.html-attr {
  color: yellow;
}
.tag-body {
  color: white;
}
.tag-position {
  margin-left: 50px;
  margin-bottom: 30px;
}
.all-html-tags code a:hover {
  z-index: 0;
}

/* HTML tags Detail Page css here */
.tag-heading {
  margin-top: 15px;
  margin-bottom: -30px;
}
.download-btn {
  margin-top: 20px;
  margin-bottom: 20px;
}
.inner-css, img {
  border-radius: 10px;
}

/* Open Ai Section */
.openai-form {
  margin-top: 50px;
}

.fieldset {
  width: 200px; /* Set an initial width */
  height: 200px; /* Set an initial height */
  resize: both; /* Allow resizing both horizontally and vertically */
  overflow: auto; /* Add scrollbars if the content overflows */
  color: #f24106;
}

legend {
  padding: 5px;
}
