@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}
html {
  scroll-behavior: smooth;
}

/* header css here */
.container-css {
    border-radius: 8px;
    height: 80px;
}
header {
  position: sticky;
  top: 0;
  z-index: 1;
  box-shadow: 1px 1px 20px 1px black;
}
@media screen and (max-width: 574px){
    .container-css {
        border-radius: 0px;
        height: auto;
    }
    nav, div, img {
        padding: 5px 0px 5px 0;
    } 
    .inner-css {
        margin-top: -14px;
    }
}
@media screen and (max-width: 992px){
    .container-css {
        height: auto;
    }
    nav, div, img {
        padding: 5px 0 5px 0;
    }
    .inner-css {
        margin-top: -14px;
    } 
    .about_section {
        margin-top: -14px;
    }
    
}
@media screen and (min-width: 992px){
    nav, div, a, img {
        padding: 2px 0 2px 0;
        padding-right: 10px;
    } 
}

.custom-div {
    background-color: #009432;
    width: 100%;
    min-height: 40vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.btn-css {
    padding-right: 40px;
    padding-left: 40px;
}

/* Banner Section CSS */
@media screen and (min-width: 992px) and (max-width: 2100px){
    .inner-css {
        margin-left: 40px;
    }
    .about_section {
        margin-left: 40px;
        margin-right: 40px;
    }

}

/* HTML SECTION START */
.about_section {
    background-image: url("../img/htmlbg.jpg");
    background-size: cover;
    background-position: bottom;
    color: #ffffff;
    box-shadow: -1px -1px 3px 1px black, 1px 1px 3px 1px black;
    transition: transform 0.1s;
    transition-delay: 0s;
  }
  .about_section:hover {
    transform: perspective(800px) translateZ(10px);
  }
  .about-css {
    background-image: url("../img/cssbg.jpg");
    background-size: cover;
    background-position: bottom;
    margin-top: 10px;
  }
  .about-javascript {
    background-image: url("../img/jsbg.jpg");
    background-size: cover;
    background-position: bottom;
    margin-top: 10px;
  }
  .about-php {
    background-image: url("../img/phpbg.jpg");
    background-size: cover;
    background-position: bottom;
    margin-top: 10px;
  }
  .about-sql {
    background-image: url("../img/mysqlbg.jpg");
    background-size: cover;
    background-position: right;
    margin-top: 10px;
  }
  
  .about_section .heading_container {
    margin-bottom: 45px;
  }
  
  .about_section .row {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .about_section .img-box img {
    max-width: 100%;
  }
  
  .about_section .detail-box h3 {
    font-weight: bold;
  }
  
  .about_section .detail-box p {
    margin-top: 15px;
  }
  
  .heading_container a {
    display: inline-block;
    padding: 10px 45px;
    background-color: #f24106;
    color: #ffffff;
    border-radius: 0px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border: none;
    margin-top: 15px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 2px;
  }
  
  .about_section .detail-box a:hover {
    background-color: #007fa4;
  }

  .heading_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  
  .heading_container h2 {
    position: relative;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: -60px;
  }
  
  .heading_container h2 span {
    color: #00bbf0;
  }
  
  .heading_container p {
    margin-top: 10px;
    margin-bottom: 0;
  }
  
  .heading_container.heading_center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }

  .layout_padding {
    padding: 90px 0 10px 0;
  }
  /* HTML SECTION  END */


#progress {
  background-color: rgb(0, 0, 0);
  height: 7px;
  width: 0;
  z-index: 2;
}

/* Course Headings Section Start */
.titlepage {
  padding-bottom: 10px;
}
@media screen and (max-width: 574px){
  .titlepage {
    padding-bottom: 0px;
  }
  .titlepage h2 {
    margin-top: -20px;
  }
}
@media screen and (max-width: 992px){
  .titlepage {
    padding-bottom: 0px;
  }
  .titlepage h2 {
    margin-top: -20px;
  }
}
.titlepage h2 {
  font-size: 25px;
  color: #000000;
  line-height: 40px;
  font-weight: bolder;
  padding: 0;
  display: inline-block;
  text-transform: uppercase;
}
.blue_light {
  color: #f4a700;
}
.domain {
  background: #ffffff;
  padding-top: 30px;
}
.searchbar {
  height: 50px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  background-color: #fcfcfd;
  border-radius: 50px;
  padding: 10px 30px;
  display: flex;
  box-shadow: 1px 1px 30px rgb(103, 100, 100);
}
.search_input {
  color: #010101;
  border: 0;
  outline: 0;
  background: #fcfcfd;
  width: 100%;
  line-height: 40px;
  font-size: 17px;
}
.search_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffaa00;
  font-size: 20px;
  text-decoration: none;
}
.text_align_center {
  text-align: center;
}
/* Course Headings Section End */